.container
    position: relative

.board
    display: flex
    flex-wrap: wrap
    width: 640px
    height: 640px
    margin: 0 auto
    border: green solid 10px

.white, .black
    width: 80px
    height: 80px
    text-align: center
    display: flex
    justify-content: center
    align-items: center

    position: relative

.white
    background: #ecebe1

.black
    background: #7c5409
    color: white

.piece
    padding: 2px 5px 8px 5px
    width: 70px
    height: 70px

.highlight
    background: #17ce2980

.piecesGrid
    position: absolute
    width: 640px
    height: 640px
    left: calc(50% - 320px)
    top: 9.5px
    display: flex
    flex-wrap: wrap

.movementGrid
    position: absolute
    width: 640px
    height: 640px
    left: calc(50% - 320px)
    top: 9.5px
    display: flex
    flex-wrap: wrap

    color: orange
    font-size: 30px
    user-select: none
    font-weight: 700

.movementSquare
    width: 80px
    height: 80px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer

.activeSquare
    height: 30px
    width: 30px
    border-radius: 100%
    background: #17ce2980

.enemySquare
    height: 80px
    width: 80px
    position: absolute
    &::before
        content: ""
        border: 19px solid transparent
        border-bottom: none
        border-top-color: #ce1717ae
        position: absolute
        transform: rotate(-45deg)
        bottom: -3px
        right: -12px
    &::after
        content: ""
        border: 19px solid transparent
        border-bottom: none
        border-top-color: #ce1717ae
        position: absolute
        transform: rotate(45deg)
        bottom: -3px
        left: -12px
    div
        position: relative
        &::before
            content: ""
            border: 19px solid transparent
            border-bottom: none
            border-top-color: #ce1717ae
            position: absolute
            transform: rotate(-135deg)
            top: -3px
            right: -12px
        &::after
            content: ""
            border: 19px solid transparent
            border-bottom: none
            border-top-color: #ce1717ae
            position: absolute
            transform: rotate(135deg)
            top: -3px
            left: -12px

.lastMadeMove
    background: #cece1780
    height: 80px
    width: 80px

.highlightSquare
    width: 80px
    height: 81px
    position: relative
    &:hover
        &::before
            content: ""
            border: 20px solid transparent
            border-bottom: none
            border-top-color: #1cce31
            position: absolute
            transform: rotate(-45deg)
            bottom: -2px
            right: -13px
        &::after
            content: ""
            border: 20px solid transparent
            border-bottom: none
            border-top-color: #1cce31
            position: absolute
            transform: rotate(45deg)
            bottom: -2px
            left: -13px
        div
            position: relative
            &::before
                content: ""
                border: 20px solid transparent
                border-bottom: none
                border-top-color: #1cce31
                position: absolute
                transform: rotate(-135deg)
                top: -3px
                right: -13px
            &::after
                content: ""
                border: 20px solid transparent
                border-bottom: none
                border-top-color: #1cce31
                position: absolute
                transform: rotate(135deg)
                top: -3px
                left: -13px

.kingInCheck
    box-shadow: inset 0 0 35px red

.pawnPromotionPlayer
    position: absolute
    z-index: 5
    top: 0

.pawnPromotionOpponent
    position: absolute
    z-index: 5
    bottom: 0

.pawnContainer
    position: relative
    height: 80px

.promotionPiece
    height: 80px
    cursor: pointer
    background: #d4d4d4
    border-radius: 100%
    transition: all .5s
    &:hover
        border-radius: 0
        background: #1cce31
        img
            transition: all .5s
            transform: scale(1.2)

.pawnPromotionOverlay
    background: #00000068
    width: 100%
    height: 100%
    position: absolute