.container
    padding: 20px
    position: relative

.board
    display: flex
    flex-wrap: wrap
    width: 640px
    height: 640px
    margin: 0 auto
    margin-top: 20px
    border: green solid 10px

.white, .black
    // position: relative
    width: 80px
    height: 80px
    text-align: center
    display: flex
    justify-content: center
    align-items: center

.white
    background: #ecebe1

.black
    background: #503605
    color: white

.piece
    // position: absolute
    padding: 7px 10px 13px 10px
    width: 60px
    height: 60px
    cursor: pointer
    transition: all .3s

.activeSquare
    height: 30px
    width: 30px
    border-radius: 100%
    background: #ce3f1780

.highlight
    background: #ce3f1780

.piecesGrid
    position: absolute
    width: 640px
    height: 640px
    left: calc(50% - 320px)
    top: 50px
    display: flex
    flex-wrap: wrap

// .playerKnight1
//     position: absolute
//     bottom: 0
//     left: 80px

// .playerKnight2
//     position: absolute
//     bottom: 0
//     right: 80px

.movementGrid
    position: absolute
    width: 640px
    height: 640px
    left: calc(50% - 320px)
    top: 50px
    display: flex
    flex-wrap: wrap

    color: orange
    font-size: 30px
    user-select: none
    font-weight: 700

.movementSquare
    width: 80px
    height: 80px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
