*
    box-sizing: border-box
    
.app
    height: 100vh

.visible
    display: flex
    justify-content: space-between
    width: 1300px
    margin: 0 auto
    padding-top: 40px

.threeGrids
    position: relative
    border: green solid 10px