.behavior
    border: solid green 10px
    height: 600px
    width: 250px
    padding: 20px
    &__container
        display: flex
        justify-content: space-between
        align-items: center
        padding: 5px 0
    &__option
        border: solid 1px blue
        padding: 5px 10px
        cursor: pointer

.active
    background: #1abe0b